@font-face {
  font-family: Montserrat-ExtraLight;
  src: url(./assets/images/Montserrat-ExtraLight.ttf);
}
@font-face {
  font-family: Montserrat-Light;
  src: url(./assets/images/Montserrat-Light.ttf);
}
@font-face {
  font-family: Montserrat-Medium;
  src: url(./assets/images/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(./assets/images/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Baskerville;
  src: url(./assets/images/BaskervilleItalicBT.ttf);
}
@font-face {
  font-family: BebasNeue-Book;
  src: url(./assets/images/BebasNeue-Book.ttf);
}
@font-face {
  font-family: BebasNeue-Regular;
  src: url(./assets/images/BebasNeue-Regular.ttf);
}
.Div-1 {
  float: left;
  width: 45%;
  margin-right: 1%;
}
.Div-2 {
  float: right;
  width: 49%;
}
.time-wrapper {
  display: flex;
}
.para-day{
  text-align: left;
}
.para-night{
  text-align: left;
  color: white;
}
.sunset-sunrise-day-wrapper {
  background-color: white;
  height: 100%;
  width: 100%;
}
.sunset-sunrise-night-wrapper {
  background-color: black;
  height: 100%;
  width: 100%;
}
.sunset-sunrise-night-wrapper .div-wrapper {
  background: black;
}
.place-alignment{
  width: 100%;
}
.center-wrapper-night{
  color: white;
}
html, body, #root {
  margin: 0;
  overflow: auto;
  height: 100%;
}
.info-div-day{
  width: 80%;
  text-align: left;
  font-family: 'verdana';
}
.info-div-night{
  width: 80%;
  text-align: left;
  color: white;
  font-family: 'verdana';
}
.div-wrapper{
  width: 100%;
  float: left;
  padding: 50px 0;
}
.about-div{
  width: 80%;
  margin-left: 2%;
  font-family: 'verdana';
}
.hamburger-content {
  position: absolute;
  width: 30%;
  height: 100%;
  right: 0%;
  top:0;
  background: #e2e4b3;
  padding: 50px 0;
}
.hamburger-visible-content{
  margin-top: 35px;
}
.hidden {
  display: none;
}

.hamburger-padding {
  margin-left: 2px; 
}

.pahar-header, .garhi-header, .pal-header, .lamha-header, .pahar-value, .garhi-value, .pal-value, .lamha-value {
  max-width: 55px;
  min-width: 55px;
  text-align: center;
  display: inline-block;
  border-right: 1px solid grey;
}

.lamha-header, .lamha-value {
  border-right: none;
}

.loading-wrapper {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 42%;
}

.loading-wrapper img {
  width: 80px;
}

@media only screen and (max-width: 600px) {
  .Div-1{
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .hamburger-content {
    position: absolute;
    width: 60%;
    height: 100%;
    right: 0%;
    top:0;
  }
  .Div-2 {
    display: flex;
    flex-direction: column;
    flex: 2;
  }
  .para-night {
    color: white;
  }
}

