.main-content-wrapper{
	height: 100%
}
.sunrise-sunset-day-wrapper{
	background-color: #FBFBFB;
	height: 100%;
	position: relative;
}
.about-link-wrapper{
	position: absolute;
	right: 21px;
	top: 21px;
	font-family: BebasNeue-Book;
	font-size: 20px;
	line-height: 18px;
	text-align: center;
	letter-spacing: 0.9px;
	color: #6D7278;
}
.home-link-wrapper{
	position: absolute;
	right: 21px;
	top: 21px;
	font-family: BebasNeue-Book;
	font-size: 20px;
	line-height: 18px;
	text-align: center;
	letter-spacing: 0.9px;
	color: #6D7278;
}
.link-wrapper{
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid grey;
}
.sunrise-sunset-night-wrapper{
	background-color: #0D122A;
	height: 100%;
	position: relative;
}
.location-wrapper{
	padding-top: 124px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.location-text-wrapper{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	letter-spacing: 0.6px;
	color: #9B9B9B;
}
.location-day{
	font-family: Montserrat-Light;
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 0.6px;
	color: rgba(0, 0, 0, 0.85);
}
.location-night{
	font-family: Montserrat-Light;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 0.6px;
	color: #FFFFFF;
}
.daytime-container{
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
	box-shadow: 0px 15px 15px -21px #FBAB7E;
	border: 1px solid rgba(219, 219, 219, 0.5);
	border-radius: 20px;
	margin-top: 19px;
	width: 327px;
	height: 153px;
}
.nighttime-container{
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
	box-shadow: 0px 15px 15px -21px #D299C2;
	border: 1px solid rgba(219, 219, 219, 0.5);
	border-radius: 20px;
	margin-top: 19px;
	width: 327px;
	height: 153px;
}
.daytime-sunset-container{
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
	box-shadow: 0px 15px 15px -21px #D299C2;
	border: 1px solid rgba(219, 219, 219, 0.5);
	border-radius: 20px;
	margin-top: 19px;
	width: 327px;
	height: 153px;
}
.nighttime-sunrise-container{
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
	box-shadow: 0px 15px 15px -21px white;
	border: 1px solid rgba(219, 219, 219, 0.5);
	border-radius: 20px;
	margin-top: 19px;
	width: 327px;
	height: 153px;
}
.nighttime-text-container{
	font-family: Montserrat-Medium;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 50px;
	color: #D56429;
	padding-left: 4px;
}
.nighttime-sunrise-text-container{
	font-family: Montserrat-Medium;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 50px;
	color: #F7B500;
	padding-left: 4px;
}
.daytime-text-container{
	font-family: Montserrat-Medium;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 50px;
	color: #F7B500;
	padding-left: 4px;
}
.daytime-sunset-text-container{
	font-family: Montserrat-Medium;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 50px;
	color: #D56429;
	padding-left: 4px;
}
.time-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 14px;
	padding-right: 21px;
	width: 255px;
	height: 48px;
}
.pahar-text-wrapper, .garhi-text-wrapper, .pal-text-wrapper, .lamha-text-wrapper{
	color: #9B9B9B;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 0.6px;
	width: 80px;
	margin-left: 3px;
}
.pahar-time-wrapper, .garhi-time-wrapper, .pal-time-wrapper{
	font-family: BebasNeue-Regular;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	letter-spacing: 2.4px;
	width: 80px;
	border-right: 2px solid #827575;
	color: rgba(0, 0, 0, 0.85);
}
.lamha-time-wrapper{
	font-family: BebasNeue-Book;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	width: 80px;
	letter-spacing: 2.4px;
	color: rgba(0, 0, 0, 0.85);
}
.time-values-wrapper{
	display: flex;
	width: 280px;
	height: 38px;
}
.time-text-wrapper{
	display: flex;
	width: 280px;
}
.daytime-image-wrapper, .nighttime-image-wrapper{
	padding-top: 10px;
	display: flex;
}
.sunset-image-wrapper, .sunrise-image-wrapper{
	display: flex;
	flex-direction: column;
	line-height: 1px;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 21px;
	margin-left: 33px;
	margin-top: 12px;
}
.about-div-wrapper{
	position: relative;
	padding: 2% 5% 0% 5%;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 17px;
	letter-spacing: 0.6px;
	color: #9B9B9B;
}
.about-heading-wrapper{
	font-family: 'Montserrat-Medium';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 15px;
	letter-spacing: 0.6px;
	color: rgba(0, 0, 0, 0.85);
}
.shayari-wrapper{
	padding-top: 61px;
	text-align: center;
	font-family: Baskerville;
	color: rgba(0, 0, 0, 0.85);
	font-size: 16px;
}
.about-image-style img{
	width: 55px;
	height: 40px;
}
.about-invertedimage-style img{
	transform: rotate(180deg);
	width: 55px;
	height: 40px;
	margin-top: 20px;
}
.read-more-wrapper{
	display: flex;
	font-family: BebasNeue-Book;
	font-size: 20px;
	line-height: 18px;
	text-align: center;
	letter-spacing: 0.9px;
	color: #6D7278;
	position: absolute;
	bottom: 21px;
  left: 21px;
}
.go-up-wrapper{
	font-family: BebasNeue-Book;
	font-size: 20px;
	line-height: 18px;
	text-align: center;
	letter-spacing: 0.9px;
	color: #6D7278;
	padding: 9% 16% 5% 10%;
}
.downarrow{
	margin-left: 5px;
}
.info-div-wrapper{
	padding-top: 30px;
	padding-bottom: 20px;
	margin-left: 20px;
	margin-right: 10px;
	font-family: Montserrat-Light;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #9B9B9B;
}
.info-div-wrapper a{
	text-decoration: underline;
	color: rgba(0, 0, 0, 0.85);
}
.pahar-heading, .garhi-heading, .pal-heading, .lamha-heading{
	color: rgba(0, 0, 0, 0.85);
	font-family: Montserrat-Medium;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}
@media only screen and (max-width: 600px){
	.location-wrapper{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 110px;
	}
	.about-link-wrapper{
		position: absolute;
		top: 21px;
		right: 21px;
		font-family: BebasNeue-Book;
		font-size: 20px;
		line-height: 18px;
		text-align: center;
		letter-spacing: 0.9px;
		color: #6D7278;
	}
	.home-link-wrapper{
		position: absolute;
		top: 21px;
		right: 21px;
		font-family: BebasNeue-Book;
		font-size: 20px;
		line-height: 18px;
		text-align: center;
		letter-spacing: 0.9px;
		color: #6D7278;
	}
	.read-more-wrapper{
		position: absolute;
		font-family: BebasNeue-Book;
		font-size: 20px;
		line-height: 18px;
		text-align: center;
		letter-spacing: 0.9px;
		color: #6D7278;
		bottom: 21px;
		left: 21px;
	}

}